<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registration</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="/home">Tellmachine.com</a>

		<div>
			<li class="nav-link" sec:authorize="isAuthenticated()"><a
				style="color: white;" th:href="@{/logout}">Logout</a></li>

		</div>
	</nav>
	<br></br>
	<!-- Create HTML registration form -->
	<div class="container">
		<div class="row">
			<div
				class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">


				<h1>Registration</h1>

				<!-- success message -->
				<div th:if="${param.success}">
					<div class="alert alert-info">You've successfully registered
						to the tellmachine.com!</div>
				</div>

				<!-- failure message -->
				<div th:if="${param.error}">
					<div class="alert alert-danger">Sorry, the username has been
						taken.</div>
				</div>


				<form th:action="@{/register}" method="post" th:object="${user}">
					<div class="form-group">
						<label class="control-label" for="username"> Username </label> <input
							id="userName" class="form-control" th:field="*{username}"
							required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="password"> Password </label> <input
							id="password" class="form-control" type="password"
							th:field="*{password}" required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-success">Register</button>
					</div>

					<div class="form-group">
						<span>Already registered? <a href="/" th:href="@{/login}">Login
								here</a></span>
					</div>
				</form>

			</div>
		</div>
	</div>

	<!-- <h3>Please enter your info to register as a new user!</h3>
	<hr>

	<div th:if="${flag} eq 1">
		<p>Username already taken!</p>
	</div>

	<form method="post" th:action="@{/register}" th:object="${user}">
		<input type="text" th:field="*{username}" placeholder="Username"
			required /> <input type="password" th:field="*{password}"
			placeholder="Password" required /> <input type="submit"
			value="Register User" />
	</form> -->


</body>
</html>